# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-echo-app
spec:
  selector:
    matchLabels:
      app: http-echo-app
  replicas: 1
  template:
    metadata:
      labels:
        app: http-echo-app
    spec:
      containers:
        - name: myapp
          image: hashicorp/http-echo
          ports:
            - containerPort: 80

# service.yaml
apiVersion: v1
kind: Service
metadata:
  name: http-echo-app-service
spec:
  selector:
    app: http-echo-app
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80